

body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  width:220px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 10px;
  text-decoration: none;
  font-size:22px;
  color: #04AA6D;
  display: block;
}

.sidenav a:hover {
  color:rgb(15, 20, 53);
}
.main {
  margin-left: 220px; /* Same width as the sidebar + left position in px */
  font-size:16px; /* Increased text to enable scrolling */
  padding: 0px 5px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container {
  padding:10px;
  width: 100%;
}

/* Full-width input fields */
input[type=text], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
input[type=submit]:hover {
  background-color:rgb(15, 20, 53);
  outline: none;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.addcoursebtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:2;
}

/* Add a blue text color to links */
a{
  color: #04AA6D;

}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}